@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@plugin "daisyui" {
  themes: night --default;
}

@plugin "daisyui/theme" {
  name: "night";
  default: true;
  --color-primary: #3abdf8;
  --color-secondary: #1e293b;
}

.font-roboto {
  font-family: "Roboto", sans-serif;
}
